body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color:white;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  color: #666;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.links {
  margin: 20px 0;
  padding: 50px  40px;
  font-size: 25px;
  font-weight: 1000;
}

.links a {
  display: block;
  margin: 10px 0;
}